<div class="row" ng-init="vm.init()">
    <div class="col-lg-12">
        <table class="table admin-table">
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="product in vm.products">
                <td>{{$index + 1}}</td>
                <td><img ng-show="product.metadata.images.image_1" ng-src="{{product.metadata.images.image_1.url}}" width="50" data-action="zoom"></td>
                <td><a ui-sref="main.product({id: product.slug})" target="_blank">{{product.title}}</a></td>
                <td><i class="fa fa-dollar"></i> {{product.metadata.price}}</td>
                <td>
                    <div class="btn-group">
                        <a ui-sref="admin.products.edit({slug: product.slug})" class="btn btn-default btn-sm"><i class="fa fa-pencil"></i></a>
                        <button class="btn btn-default btn-sm" ng-click="vm.removeProduct(product.slug)"><i class="fa fa-remove"></i></button>
                    </div>
                </td>
            </tr>
        </table>
        <a ui-sref="admin.products.add" class="btn btn-important"><span class="fa fa-plus-circle"></span> Add product</a>
    </div>
</div>