<div id="border"></div>
<div id="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="content">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" id="logo-mob" href="//tanto.lemonstand.com/"><img
                        src="/dist/img/logo.png?1460327300" alt=""></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" id="logo" ui-sref="main.shop"><img
                            src="/dist/img/logo.png"></a></li>
                    <li><a ui-sref="main.shop">SHOP</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="//tanto.lemonstand.com/login">LOGIN</a>
                    </li>
                    <li id="normal-cart" ng-init="cart.getCart()">
                        <a id="normal-carts" href="//tanto.lemonstand.com/cart" data-toggle="dropdown"><span
                                class="hidden-xs" id="navbar-totals">CART ( {{cart.products.length}} )</span></a>
                        <div id="mini-cart" class="dropdown-menu" ng-show="!cart.products.length">
                            <h6>No items in cart.</h6>
                        </div>

                        <div id="mini-cart" class="dropdown-menu" ng-show="cart.products.length">
                            <ul class="cart-items list-unstyled hidden-xs">
                                <li class="row cart-item" ng-repeat="product in cart.products">
                                    <div class="product-thumb col-xs-4">
                                        <img class="img-responsive" alt="{{product.title}}" ng-src="{{product.metadata.images.image_1.url}}">
                                    </div>
                                    <div class="product-info col-xs-8">
                                        <h6 class="product-title">{{product.title}}</h6>
                                        <div class="price">
                                            <span>${{product.metadata.price}}</span>
                                        </div>
                                        <a class="remove-item" href="" ng-click="cart.removeFromCart(product._id)"><i class="fa fa-times"></i></a>
                                    </div>
                                </li>
                            </ul>
                            <div class="mini-cart-totals">
                                <h4 class="subtotal">Subtotal: ${{cart.totalPrice}}</h4>
                                <a class="btn col-xs-12" ui-sref="main.cart">View Cart</a>
                                <a class="col-xs-12 btn btn-important" ui-sref="main.checkout">Checkout</a>
                            </div>
                        </div>
                    </li>
                    <li id="normal-cart"><a ui-sref="main.checkout">CHECKOUT</a></li>
                    <li id="mobile-cart">
                        <a href="//tanto.lemonstand.com/cart">CART</a>
                    </li>
                    <li id="mobile-cart">
                        <a ui-sref="main.checkout">CHECKOUT</a>
                    </li>

                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <ui-view></ui-view>

    <div class="jumbotron" id="main-footer">
        <div class="row content">
            <div class="col-md-12">

                <ul class="list-unstyled col-md-12">
                    <a href="//tanto.lemonstand.com/login">
                        <li>Login</li>
                    </a>
                    <a href="//tanto.lemonstand.com/about">
                        <li>About</li>
                    </a>
                    <a href="//tanto.lemonstand.com/orders">
                        <li>Order History</li>
                    </a><br>
                    <a href="http://facebook.com/lemonstand">
                        <li><i class="fa fa-twitter"></i></li>
                    </a>
                    <a href="http://twitter.com/D_Hanul_Park">
                        <li><i class="fa fa-facebook"></i></li>
                    </a>
                    <a href="http://instagram.com">
                        <li><i class="fa fa-instagram"></i></li>
                    </a>
                </ul>

                <div class="col-md-12" id="foot-info">
                    <p class="text-center">This is TANTO Free Theme
                        Powered by <a href="https://lemonstand.com/" target="_blank">LemonStand</a><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>