<div class="jumbotron" ng-init="vm.init()">
    <form class="custom" onsubmit="return false" method="post" action="/product/dark-coffee-table">
        <div class="row" id="product">
            <div id="product-page">
                <div class="row content">

                    <div class="col-md-6">
                        <ul class="col-md-12 thumblist">
                            <li ng-if="vm.product.metafields[1].children[1].value">
                                <img ng-src="{{vm.product.metadata.images.image_2.url}}" alt="{{vm.product.title}}">
                            </li>
                            <li ng-if="vm.product.metafields[1].children[2].value">
                                <img ng-src="{{vm.product.metadata.images.image_3.url}}" alt="{{vm.product.title}}">
                            </li>
                        </ul>


                        <div class="col-md-12" id="main-img">
                            <img id="big-thumb" ng-src="{{vm.product.metadata.images.image_1.url}}" alt="{{vm.product.title}}">
                        </div>
                    </div>

                    <div id="product-detail" class="col-md-6">

                        <div class="col-md-12">
                            <h2>{{vm.product.title}}</h2>

                            <h3>${{vm.product.metadata.price}}</h3>

                            <p></p><p ng-bind-html="vm.product.content"></p><p></p>

                            <h3>Product Extras</h3>

                            <a class="btn btn-default btn-add-cart" ng-click="cart.addToCart(vm.product)">Add to Cart </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>