<div class="row content" id="cartt" ng-init="cart.getCart()">
    <form class="custom" method="post">
        <div id="cart-content">
            <div class="row">

                <div class="col-md-12">
                    <div class="col-md-12">
                        <h1>SHOPPING CART</h1>
                    </div>
                </div>
                <div class="col-md-12">

                    <div class="items-holder">

                        <div class="row" id="cart-row" ng-repeat="product in cart.products">

                            <div class="col-sm-2" id="cart-img">
                                <img alt="{{product.title}}" ng-src="{{product.metadata.images.image_1.url}}">
                            </div>
                            <div class="row" id="align-middle">
                                <div class="col-sm-4">
                                    <a ui-sref="main.product({id: product.slug})">{{product.title}}</a>
                                </div>
                                <div class="col-sm-2">

                                </div>
                                <div class="col-sm-3" id="item-middle">
                                    <p class="col-sm-9">${{product.metadata.price}}</p>

                                    <a class="col-sm-3" id="item-close" ng-click="cart.removeFromCart(product._id)"><i
                                            class="fa fa-times" id="remove-cart-item"></i></a>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="row col-md-3">
                    <p>Order Summary</p>
                    <ul class="price-list list-group">
                        <li class="list-group-item important">Total: ${{cart.totalPrice}}</li>
                    </ul>
                    <a class="btn btn-default col-xs-12 btn-lg solid" ng-click="cart.getCart()">Update Cart <i
                            class="fa fa-refresh"></i></a>
                    <a class="col-xs-12 btn btn-important solid btn-lg" ui-sref="main.checkout">Checkout</a>
                </div>

            </div>
        </div>
    </form>
</div>